In [2]:
import pandas as pd
df = pd.read_csv("E:\\PythonData\\weather_data.csv")
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow

In [11]:
df = pd.read_excel("E:\\PythonData\\weather_data.xlsx")
df

         day  temperature  windspeed  event
0 2017-01-01           32          6   Rain
1 2017-01-02           35          7  Sunny
2 2017-01-03           28          2   Snow

In [14]:
weather_data ={
    'day':['1/1/2017','1/2/2017'],
    'temperature':[32,35]
}
df = pd.DataFrame(weather_data)
df

        day  temperature
0  1/1/2017           32
1  1/2/2017           35

In [16]:
weather_data ={
    ('1/1/2017',32),
    ('1/2/2017',35) 
}
df = pd.DataFrame(weather_data, columns=['day','temperature'])
df

        day  temperature
0  1/2/2017           35
1  1/1/2017           32

In [3]:
df_weather_data =pd.DataFrame({
    'day':['1/1/2017','1/2/2017'],
    'temperature':[32,35]
})
df_stocks = pd.DataFrame({ 'day':['1/1/2017','1/2/2017'],
    'temperature':[32,35]})

In [4]:
with pd.ExcelWriter('stock_weather.xlsx') as writer:
    df_weather_data.to_excel(writer,sheet_name ='stocks')
    df_stocks.to_excel(writer,sheet_name ="weather")